nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: #333;
    padding: 15px;
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: #4CAF50;
    border-radius: 5px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer a {
    color: #4CAF50;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

footer a:hover {
    color: #00aced;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    box-sizing: border-box;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 80px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 3em;
    margin-bottom: 0;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

section {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

ul li:hover {
    transform: scale(1.05);
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #45a049;
}
/* Sección Sobre Nosotros */
#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
}

#about img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    height: auto;
}

#about p {
    flex: 1;
    font-size: 1.2em;
    line-height: 1.6;
}

/* Reseñas */
#reviews p {
    font-style: italic;
    text-align: center;
    background-color: #eee;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
